<header id="hd">
    <div class="container">
        <h1 class="logo"><a href="/"><%= config.title %></a></h1>
        <div class="issue">Issue<em><%= page.title %></em></div>
        <a class="share" title="分享到微博" href="http://service.weibo.com/share/share.php?url=<%= config.url %><%- url_for(page.path) %>&title=《<%= config.title %>》第<%= page.title %>期出来了！汇聚前端精华内容，值得一读。" target="_blank">微博分享</a>
        <a class="add-link" href="/add/" title="推荐文章到<%= config.title %>">提交链接</a>
    </div>
</header>
<div class="container" id="main">
    <section id="content"><%- page.content %></section>
    <div id="aside">
        <h2>搜索《<%= config.title %>》</h2>
        <div class="subscribe">
            <form action="/search/" method="get">
                <input type="text" value="" name="q" class="required email" placeholder="请输入查询词">
                <div class="action">
                    <input type="submit" value="搜索一下" class="button">
                </div>
            </form>
        </div>
        <h2>订阅《<%= config.title %>》</h2>
        <div class="subscribe">
            <form action="//jiedaibao.us14.list-manage.com/subscribe/post?u=cf2e5a7851d84e32aca2e7f45&id=4e75436b5a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" class="required email" placeholder="Email地址">
                <div class="action">
                    <input type="submit" value="立即订阅" class="button">
                </div>
            </form>
        </div>
        <% if (site.posts.length) { %>
            <h2>最新发布</h2>
            <ul class="issues" id="latest_issues">
            <% site.posts.sort('date', 1).limit(15).each(function(post) { %>
                <li><span class="date"><%- date(post.date) %></span><a href="<%- url_for(post.path) %>"><%= config.title %>第<%= post.title %>期</a></li>
            <% }); %>
             </ul>
        <% } %>
    </div>
</div>